:root {
    --font: 'Montserrat', system-ui, sans-serif;
    --max-width: 1400px;
    --i-padding: 0.6rem;
    --o-padding: 1.6rem;
    --radius: 10px;
    --max-radius: 40px;
    --c-lighter: #b1d0e050;
    --c-light: #b1d0e050;
    --c-medium: #6998ab60;
    --c-dark: #40688290;
    --c-darker: #40688260;
    --c-elements: #b1d0e0;
    --c-bg-elements: #0004;
    --c-card-main: #b1d0e090;
    --c-card-side: #b1d0e040;
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  html::-webkit-scrollbar {
    width: 6px;
    background: #555555;
  }
  html::-webkit-scrollbar-thumb {
    background: #151515;
  }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .active {
    background: var(--c-bg-elements);
  }
  
  body {
    margin: 0;
    font-family: var(--font);
    color: #fefefe;
    background-color: #252525;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  body .video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  body .video video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .container {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
  }
  
  main {
    max-height: 100vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    padding-left: 62px;
    position: relative;
  }
  
  main .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--c-darker);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 62px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: var(--i-padding);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 2;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-right: solid 1px var(--c-lighter);
  }
  main .menu:hover,
  main .menu:active {
    width: 200px;
    border-radius: 0 var(--radius) var(--radius) 0;
  }
  main .menu .avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
  }
  main .menu .avatar .thumb {
    border-radius: 50%;
    width: 100%;
    max-width: 40px;
  }
  main .menu .avatar .name {
    color: var(--c-elements);
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  main .menu:hover .avatar .name,
  main .menu:active .avatar .name {
    opacity: 1;
    visibility: visible;
  }
  main .menu .primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
  }
  main .menu .primary .menu-item {
    font-weight: 400;
    text-decoration: none;
    color: var(--c-elements);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  main .menu:hover .primary .menu-item,
  main .menu:active .primary .menu-item {
    width: 100%;
    border-radius: var(--max-radius);
  }
  main .menu .primary .menu-item:hover {
    background: var(--c-bg-elements);
  }
  main .menu .primary .menu-item span:first-child {
    font-size: 21px;
  }
  main .menu .primary .menu-item .desc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  main .menu:hover .primary .menu-item .desc,
  main .menu:active .primary .menu-item .desc {
    opacity: 1;
    visibility: visible;
  }
  main .menu .expander {
    color: var(--c-elements);
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  main .menu:hover .expander,
  main .menu:active .expander {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  main .topbar {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 62px);
    margin-left: 62px;
    height: 60px;
    z-index: 1;
    background: var(--c-dark);
    border-bottom: solid 1px var(--c-lighter);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    padding: 0 var(--o-padding);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .topbar .current {
    color: var(--c-elements);
    font-size: 24px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  main .topbar .search {
    cursor: pointer;
    color: var(--c-elements);
    border-radius: 50%;
    max-width: 40px;
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  main .topbar .search:hover,
  main.search .topbar .search {
    background: var(--c-bg-elements);
  }
  main.search .topbar .search {
    border-radius: var(--max-radius);
    max-width: 200px;
    cursor: default;
  }
  main .topbar .search label {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    font-size: 24px;
    cursor: inherit;
  }
  main .topbar .search .bar {
    color: var(--c-elements);
    background: unset;
    width: 100%;
    padding: 1px 10px 0 34px;
    font-size: 16px;
    border: unset;
    outline: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  main.search .topbar .search .bar {
    opacity: 1;
    visibility: visible;
    touch-action: none;
  }
  main .topbar .search .bar::-webkit-input-placeholder {
    font-family: var(--font);
    color: var(--c-elements);
  }
  main .topbar .search .bar::-moz-placeholder {
    font-family: var(--font);
    color: var(--c-elements);
  }
  main .topbar .search .bar:-ms-input-placeholder {
    font-family: var(--font);
    color: var(--c-elements);
  }
  main .topbar .search .bar::-ms-input-placeholder {
    font-family: var(--font);
    color: var(--c-elements);
  }
  main .topbar .search .bar::placeholder {
    font-family: var(--font);
    color: var(--c-elements);
  }
  main .topbar nav {
    overflow: overlay;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
  }
  main .topbar nav::-webkit-scrollbar {
    height: 2px;
  }
  main .topbar nav::-webkit-scrollbar-thumb {
    background: var(--c-bg-elements);
  }
  main .topbar nav .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--c-elements);
    border-radius: var(--max-radius);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  main .topbar nav .menu-item:hover {
    background: var(--c-bg-elements);
  }
  
  main .dashboard {
    border-top: solid 1px var(--c-lighter);
    background-color: var(--c-light);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    padding: var(--o-padding);
    display: -ms-grid;
    display: grid;
    grid-gap: var(--o-padding);
    position: relative;
    overflow: overlay;
  }
  main .dashboard::-webkit-scrollbar,
  main .side::-webkit-scrollbar {
    width: 2px;
    background: var(--c-darker);
  }
  main .dashboard::-webkit-scrollbar-thumb,
  main .side::-webkit-scrollbar-thumb {
    background: var(--c-bg-elements);
  }
  main .dashboard .cardcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--o-padding);
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
  main .dashboard .cardcolumn .card .content {
    font-size: 14px;
  }
  main .dashboard .cardcolumn .card span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    min-width: 24px;
    max-width: 24px;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }
  main .dashboard .cardcolumn .card span:hover {
    color: var(--c-elements);
    background: var(--c-bg-elements);
  }
  main .dashboard .cardcolumn .card header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  main .dashboard .cardcolumn .card header a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  main .dashboard .cardcolumn .card .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
  }
  
  main .side {
    margin-top: 60px;
    background-color: var(--c-medium);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    padding: var(--o-padding);
    display: -ms-grid;
    display: grid;
    gap: var(--o-padding);
    -ms-flex-line-pack: start;
    align-content: flex-start;
    overflow: overlay;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  main .dashboard .card,
  main .side .card {
    position: relative;
    color: var(--c-elements);
    padding: var(--i-padding);
    background: var(--c-bg-elements);
    border-radius: var(--radius);
    -webkit-box-shadow: 0 4px 8px #0003;
    box-shadow: 0 4px 8px #0003;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    border-bottom: solid 2px #0003;
  }
  main .side .card ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  main .side .card ul li {
    padding: 6px 0;
    border-bottom: solid 1px var(--c-bg-elements);
  }
  main .side .card ul li:last-child {
    border-bottom: none;
  }
  main .side .weather .condition {
    opacity: 0.65;
    position: absolute;
    right: 10px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 200px;
    width: 100%;
    float: right;
  }
  main .side .weather .content {
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    min-height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-shadow: 1px 3px 0px #0008;
  }
  main .side .weather .content .celsius {
    position: relative;
    top: -10px;
    right: -4px;
    font-size: 1.3rem;
  }
  main .side .weather .meta {
    border-top: solid 1px var(--c-bg-elements);
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
  }
  main .side .weather .meta .datetime,
  main .side .weather .meta .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
  }
  main .side .weather .meta .datetime .time {
    font-weight: 600;
  }
  
  @media (min-width: 1024px) {
    :root {
      --i-padding: 1rem;
      --o-padding: 2rem;
    }
    .container {
      margin: var(--o-padding);
      -webkit-box-shadow: 0 0px 1rem #0003;
      box-shadow: 0 0px 1rem #0003;
      overflow: hidden;
    }
    main {
      min-height: 500px;
      max-height: calc(100vh - (2 * var(--o-padding)));
      border-radius: var(--radius);
      -ms-grid-columns: auto 380px;
      grid-template-columns: 2fr 1fr;
      padding-left: 74px;
    }
    main .menu {
      width: 74px;
      position: absolute;
      top: unset;
      border-radius: var(--radius) 0 0 var(--radius);
    }
    main .menu:hover {
      border-radius: var(--radius);
    }
    main .menu .avatar {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    main .menu .avatar .thumb {
      max-width: 70px;
    }
    main .topbar {
      position: absolute;
      width: calc(100% - 74px);
      margin-left: 74px;
      border-radius: 0 var(--radius) 0 0;
    }
    main .topbar .search {
      margin-right: unset;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      max-width: 200px;
      border-radius: var(--max-radius);
      cursor: default;
      background: var(--c-bg-elements);
    }
    main .topbar .search .bar {
      opacity: 1;
      visibility: visible;
    }
    main .dashboard {
      margin-top: 60px;
      border-top: unset;
      height: calc(100vh - (2 * var(--o-padding)) - 60px);
      -ms-grid-columns: 1fr var(--o-padding) 1fr var(--o-padding) 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
    main .side {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      height: calc(100vh - (2 * var(--o-padding)) - 60px);
      border-top: unset;
      margin-top: 60px;
      border-radius: 0 0 var(--radius) 0;
    }
  }
  